$background-color-main-page: rgb(92, 90, 90);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
$font-stack: 'Roboto', Arial, sans-serif;
$max-width-phone:29.75rem; 


.main-header {
    display:flex;
    justify-content:space-between;
    height:7rem;
    color:white;
    background:$background-color-main-page;
    font-family:$font-stack;
    font-style:italic;
    align-items:center;
}
@media (max-width: $max-width-phone) {
    .main-header {
        display:flex;
        justify-content: flex-end;
        padding-left:5rem;
        font-size:1rem;
    }
 
}
 