$menu-item-color: rgb(28, 170, 28);
$hamburger-menu-color: black;
$hamburger-menu-color-change:white;
$hamburger-menu-link-color:white;
//https://codepen.io/erikterwan/pen/EVzeRP Eric Terwan
//
.nav-bar {
    
    z-index:3;
    &__main-holder{
    //A checkbox is used to detect when the menu is selected. This places the check box, defines its dimensions, and sets its z-index on top so it can be clicked and its opacity at 0.
        &__check-box {
        top:1rem;
        position:absolute;
        left: 0.5rem;
        z-index:3;
        height:5.4rem;
        width:4.6rem;
        cursor:pointer; 
        opacity:0;
        //sets the transformation to 0 on the menu when the box is checked
        &:checked ~ ul {
            transform:none;
        }//ul end
        //moves the hamburger lines
        &:checked ~ div span {
            opacity:1;
            transform:rotate(45deg) translate(-.82rem, -.82rem);
            background:$hamburger-menu-color-change; 
            transition:.5s;

        &:nth-last-child(3)   {
            opacity:0;
            transform:rotate(0deg);
        }//middle cross end
        &:nth-last-child(2) {
            transform:rotate(-45deg)
        }
        }//div span end
        }
        //defines the hamburger
        &__hamburger {
        position:absolute;
        top:1.5rem;
        left: 0.75rem;
        z-index:2;
            &__lines {
            display:block;
            height:1rem;
            width:4rem;
            margin-bottom:0.25rem;
            background:$hamburger-menu-color;
            border-radius:5%;
            }
            
        }
    //positions the menu and sets its transform value that it changes from
    &__menu-item-holder {
        position:absolute;
        transition: 0.5s;
       margin:-0.625rem 0 0 -.5rem;
       padding-top:5rem;
       padding-left:1rem;
        transform: translate(-15rem, 0rem);
        background:black;
        transform: 1s cubic-bezier(0.77,0.2,0.05,1.0);
        color:$menu-item-color;
        text-decoration:none;
    &__nav-options {
        padding:1rem;
        list-style: none;
    &__link:hover {
        color: $hamburger-menu-link-color;
    }
    }

    }//menu-item-holder end
}
}//nav-bar end