@import 'nav';
@import 'header';
@import 'main-styles';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$font-stack: 'Roboto', Arial, sans-serif;

*{
    box-sizing:border-box;
}
html {
    height:100%;
}
body {
    height:100%;
    margin:0;
    font-family:$font-stack;

}
.primary-wrapper {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap:1rem;
    grid-template-rows: repeat(auto, 2rem);
}
